@charset "UTF-8";

@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-wrap-pc-sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  /*テスト表示用*/
  max-width: 435px;
  margin: 0 auto 20px;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;
}

a.btn--orange {
    color: #fff;
    background-color: #eb6100;
  }
  
  a.btn--orange:hover {
    color: #fff;
    background: #f56500;
  }
  
  a.btn-c {
    font-size: 1.8rem;
    position: relative;
    padding: 1.5rem 2rem 1.5rem 2rem;
    border-radius: 100vh;
  }
  
  a.btn-c i.fa {
    margin-right: 1rem;
  }