#mainvisual {
    width: 100%;
	height: 700px;
	background-color: unset;
	background-image: unset;
}
#mainvisual::before {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 60px);
    height: /*1000px;*/1100px;
    background-color: #d6e4be;
    border-radius: 40px;
    content: "";
}
#mainvisual::after {
    background-position: left calc(50% - 753px) center, right calc(50% - 771px) center;
    bottom: -72px;
}
@media screen and (max-width:1400px) {
    #mainvisual::before {
        width: 100%;
    }
}
.mainvisual_wrap {
    width: calc(100% - 120px);
	height: 700px;
    margin: 0 auto;
    max-width: 1800px;
}
@media screen and (max-width:1400px) {
    .mainvisual_wrap {
        width: 1280px;
    }
}
#mainvisual .inner {
	position: absolute;
    width: 100%;
	top: 0;
	left: 0;
	right: 0;
    border-radius: 0;
    background-image: none;
}
@media screen and (max-width:1400px) {
    #mainvisual .inner {
        width: 100%;
    }
}
/* キャッチフレーズ */
.mainvisual_catch {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 42px;
    width: 100%;
    height: 566px;
    background: url("../images/mainvisual_catch_bg.png") no-repeat calc(50% - 10px) top;
}
.mainvisual_catch p {
    font-family: vdl-v7marugothic, sans-serif;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.2em;
    text-align: center;
    text-shadow: rgba(255,255,255,1) 0 0 15px;
}
.mainvisual_catch p span.pink {
    color: #e46a6a;
}
.mainvisual_catch p span.blue {
    color: #459db3;
}
.mainvisual_catch p span.orange {
    color: #e4742b;
}
.mainvisual_catch p i {
    font-size: 40px;
    font-style: normal;
}
.mainvisual_catch p.headline {
    margin-bottom: 20px;
    line-height: 42px;
    color: #1F2774;
    font-size: 27px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}
/* メインスライド */
#slick_fade {
    width: 100%;
    height: 700px;
}
#slick_fade li img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: center;
    border-radius: 40px;
}
main {
    background-image: none;
}
@media screen and (max-width:640px) {
#wrapper, html, body {
    min-height: 500px;
}
#mainvisual {
    height: 400px;
}
#mainvisual::after {
    background-position: left -40px bottom, right -40px bottom;
    bottom: -10px;
}
.mainvisual_wrap {
    width: 100%;
    height: 400px;
}
.mainvisual_catch {
    top: 0;
    height: 400px;
    padding-top: /*120px;*/100px;
    justify-content: start;
    background-size: auto 330px;
    background-position: center 10px;
}
.mainvisual_catch p {
    font-size: 18px;
    letter-spacing: 0.1em;
}
.mainvisual_catch p i {
    font-size: 22px;
}
/* メインスライド */
#slick_fade {
    height: 400px;
}
#slick_fade li img {
    height: 400px;
    border-radius: 0;
}
#slick_fade li:nth-child(3) img {
	height: 390px;
}
}